@font-face {
  font-family: "AlfaSlabOne-Regular";
  src: local("AlfaSlabOne-Regular"), url("../AlfaSlabOne-Regular.ttf") format("opentype") tech(color-COLRv1);
}
html {
  background-image: url("../img/fond.webp");
}

.top {
  float: right;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0.5%;
}

.clear {
  clear: both;
}

#logo img {
  width: 120px;
  opacity: 0.5;
}

.uneligne {
  display: flex;
}
.uneligne #title-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 2%;
}
.uneligne #title-flex h1,
.uneligne #title-flex h2 {
  flex-basis: 100%;
  font-family: "AlfaSlabOne-Regular";
}
.uneligne #title-flex h2 {
  background-color: black;
  color: white;
  padding: 1%;
  margin: 0;
}
.uneligne #title-flex span {
  opacity: 0.5;
}
.uneligne #title-flex h4 {
  font-family: "AlfaSlabOne-Regular";
  opacity: 0.5;
}

.container {
  margin: auto;
  width: 970px;
  display: flex;
  flex-direction: row;
  gap: 2%;
}
.container .card {
  background-color: rgb(255, 240, 221);
  width: 33%;
  box-shadow: 6px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.container .card .box {
  float: left;
  margin: 0;
  padding: 2%;
}
.container .card .box .text-box {
  text-align: center;
  padding: 1%;
  margin: 0;
  color: white;
}
.container .card .box .text-box2, .container .card .box .text-box3, .container .card .box .text-box1 {
  background-color: red;
  opacity: 0.8;
  position: relative;
  top: -25px;
  margin: 0;
}
.container .card .photo-card {
  width: 150px;
  height: 200px;
  object-fit: cover;
}
.container .card h3 {
  background-color: black;
  color: white;
  padding: 1%;
  text-align: center;
  margin: 10%;
  border-radius: 12px;
  text-transform: uppercase;
}
.container .card button {
  background-color: black;
  color: white;
  padding: 1%;
  float: right;
  margin: 4%;
}

.bottom {
  background-color: black;
  color: white;
  padding: 1%;
  float: right;
  font-family: "AlfaSlabOne-Regular";
  font-size: small;
}

@media screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container .card {
    margin-bottom: 3%;
  }
}