@font-face {
    font-family: "AlfaSlabOne-Regular";
    src:
      local("AlfaSlabOne-Regular"),
      url("../AlfaSlabOne-Regular.ttf") format("opentype") tech(color-COLRv1);

  }
  $font: "AlfaSlabOne-Regular";